* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

#drum-machine {
  margin: 25vh auto;
  background-color: rgb(58, 138, 42);
  width: 90vw;
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
}

#drum-pads-box {
  background-color: blue;
  width: 50%;
  height: 90%;
  padding: 5%;
  display: flex;
  flex-flow: row wrap;
  gap: 2%;
}
#display {
  background-color: rgb(18, 192, 36);
  width: 10vw;
  height: 5vh;
}

#toggle-container {
  width: 50%;
  display: flex;
  background-color: rgb(40, 105, 170);
}
#toggle-box {
  padding: 2%;
  flex-basis: calc(100% / 3);
  background-color: blue;
}
#toggle-container h3 {
  display: block;
  flex-basis: calc(100% / 3);
  }
#toggle {
  display: block;
  width: 60%;
  height: 100%;
  float: right;
  background-color: black;
}






