* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.drum-machine {
  background-color: rgb(58, 138, 42);
  width: 50vw;
  height: 50vh;

}
.drum-pads-box {
  width: 30%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;

}
.display {
  background-color: rgb(18, 192, 36);
  width: 10vw;
  height: 5vh;
}
.drum-pad {
 flex-basis: 33.3%;
}


